<div style="margin-top:100px; display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center; ">

  <div>
    <div style="margin-bottom: 40px">
    <span style="font-size: 30px; color: #0E78C6;">幼儿算术</span>&emsp;<span style="font-size: 12px; color:red">特供版</span>
    </div>
    <div style="margin-bottom: 40px">
      <button class="btn btn-primary btn-lg" [routerLink]="['/list']">
        试题模式
      </button>
    </div>
    <div style="margin-bottom: 20px">
      <button class="btn btn-primary btn-lg" [routerLink]="['/game']">游戏模式</button>
    </div>
  </div>
</div>
